# Delete out the 1 to disable herdon, i.e. HEDRON=
HEDRON=1

PROFILE=

VALIDATE_INPUTS=

# Vulkan library information
# on windows, we assume the lunar G devkit is installed on the C drive
ifeq ($(OS), Windows_NT)
VULKAN_DIR=C:\VulkanSDK\1.4.313.2
endif

SANITIZERS=-fsanitize=address,leak,undefined
