
# Build System Configuration
# --------------------------
HELP=YES
# Suppress build system output, with the exception of errors.
QUIET=NO

# Enabled Features Configuration
# ------------------------------

# Hedron makes use of Vulkan to expose a GPU API in  
# the standard library.
HEDRON=NO

# Possible Values 
# - X11, WAYLAND (linux only)
# - DEFAULT (picks current running window system) 
# - NONE (disables windowing in the standard library)
WINDOW_SYSTEM=DEFAULT

# Dependency Configuration
# ------------------------

# Vulkan library information
# on windows, we assume the lunar G devkit is installed on the C drive
ifeq ($(OS), Windows_NT)
VULKAN_DIR=C:\VulkanSDK\1.4.313.2
endif

# Debug Assist Options
# --------------------
PROFILE=NO

# Will panic if certain expected invariants are invalidated
# always on by deafult in debug mode.
DEBUG_ASSERT=NO

SANITIZERS=-fsanitize=address,leak,undefined
