HELP=

HEDRON=YES

PROFILE=

# Will panic if certain expected invariants are invalidated
# always on by deafult in debug mode.
DEBUG_ASSERT=

# Suppress build system output, with the exception of errors.
QUIET=YES

# Vulkan library information
# on windows, we assume the lunar G devkit is installed on the C drive
ifeq ($(OS), Windows_NT)
VULKAN_DIR=C:\VulkanSDK\1.4.313.2
endif

SANITIZERS=-fsanitize=address,leak,undefined
